.card {
  width: 250px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
}

.productDetails a {
  text-decoration: none;
  color: #000;
}

.productDetails a:hover,
a:active {
  color: #65ce3c;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: #7f8081;
}

.image {
  border: 1px solid rgb(219, 219, 219);
  height: 250px;
  margin-bottom: 10px;
}

.image a {
  text-decoration: none;
}

img {
  height: 250px;
  width: 250px;
  object-fit: fill;
}
